input {
  pipeline { address => qeeqbox_honeypots_http }
}

filter {
  grok {
    ecs_compatibility => "v1"
    break_on_match => true
    match => {
      "message" => [
        "\[%{GREEDYDATA:datetime}\] \[honeypotslogger_%{GREEDYDATA:module_name}_%{GREEDYDATA}\] \[%{WORD:loglevel}\] - \[\'servers', \{'ip': '%{IP:client_ip}'\}\]",
        "\[%{GREEDYDATA:datetime}\] \[honeypotslogger_%{GREEDYDATA:module_name}_%{GREEDYDATA}\] \[%{WORD:loglevel}\] - \[\'servers', \{'ip': '%{IP:client_ip}', 'request': \{%{GREEDYDATA:request_json}\}\}\]"
      ]
    }
  }

  if ([module_name] != "QHTTPServer" and [module_name] != "QHTTPSServer") {
    drop { }
  }

  date {
    match => [ "[datetime]", "YYYY-MM-dd HH:mm:ss,SSS", "ISO8601" ]
    timezone => "%{[fields][timezone]}"
    target => "[honeypot][timestamp]"
  }

  if [request_json] {
    kv {
      source => "request_json"
      field_split => ", "
      value_split => ": "
      remove_char_key => "'"
      target => "[honeypot][request][fields]"
      include_brackets => false
    }
  }

  mutate {
    rename => {
      "module_name" => "[honeypot][module][name]"
      "client_ip" => "[honeypot][client][ip]"
      "[fields][organization_name]" => "[honeypot][property][organization][name]"
      "[fields][project_name]" => "[honeypot][property][project][name]"
      "[fields][sensor_name]" => "[honeypot][property][sensor][name]"
      "[fields][sensor_ip]" => "[honeypot][property][sensor][ip]"
    }
  }

  prune {
    whitelist_names => [ "^@timestamp$", "^honeypot$", "^tags$" ]
  }
}

output {
  # stdout { codec => rubydebug }
  if ([honeypot][module][name] == "QHTTPServer") {
    elasticsearch {
      ecs_compatibility => "v1"
      hosts => ["https://es-coord-01.elknet:9200"]
      cacert => ["/usr/share/logstash/config/elastic-ca.pem"]
      ssl_certificate_verification => true
      api_key => "${ES_API_KEY}"
      ssl => true
      data_stream => false
      action => "create"
      index => "qeeqbox_honeypots-http-%{[honeypot][property][organization][name]}-%{[honeypot][property][project][name]}-%{[honeypot][property][sensor][name]}"
    }
  } else if ([honeypot][module][name] == "QHTTPSServer") {
    elasticsearch {
      ecs_compatibility => "v1"
      hosts => ["https://es-coord-01.elknet:9200"]
      cacert => ["/usr/share/logstash/config/elastic-ca.pem"]
      ssl_certificate_verification => true
      api_key => "${ES_API_KEY}"
      ssl => true
      data_stream => false
      action => "create"
      index => "qeeqbox_honeypots-https-%{[honeypot][property][organization][name]}-%{[honeypot][property][project][name]}-%{[honeypot][property][sensor][name]}"
    }
  } else {}
}
