apiVersion: v1
kind: Pod
metadata:
  labels:
    app: qeeqbox-chameleon-filebeat-pod
  name: qeeqbox-chameleon-filebeat-pod
  annotations:
    seccomp.security.alpha.kubernetes.io/pod: localhost/default.json
spec:
  restartPolicy: OnFailure
  hostNetwork: false
  containers:
  - name: srv01
    image: docker.elastic.co/beats/filebeat:7.15.2
    securityContext:
      allowPrivilegeEscalation: false
      privileged: false
      capabilities:
        add: []
        drop:
        - CAP_MKNOD
        - CAP_NET_RAW
        - CAP_AUDIT_WRITE
      seLinuxOptions:
        type: qeeqbox_chameleon_filebeat.process
    resources:
      requests:
        memory: 200Mi
        cpu: 1000m
      limits:
        memory: 200Mi
        cpu: 1000m
    volumeMounts:
    - mountPath: /usr/share/filebeat/filebeat.yml
      name: filebeat-conf
      readOnly: true
    - mountPath: /usr/share/filebeat/beats-certificate-bundle
      name: beats-certificate-bundle
      readOnly: true
    - mountPath: /usr/share/filebeat/elastic-ca.pem
      name: elastic-ca
      readOnly: true
    - mountPath: /usr/share/filebeat/data
      name: filebeat-data
    - mountPath: /usr/share/filebeat/logs
      name: filebeat-logs
    - mountPath: /var/log/honeypots
      name: honeypots-logs
      readOnly: true
  volumes:
  - name: filebeat-conf
    hostPath:
      path: ./configs/filebeat.yml
  - name: elastic-ca
    hostPath:
      path: ./secrets/elastic-ca.pem
  - name: beats-certificate-bundle
    hostPath:
      path: ./secrets/beats-certificate-bundle
  - name: filebeat-data
    persistentVolumeClaim:
      claimName: qeeqbox-chameleon-filebeat-data
  - name: filebeat-logs
    persistentVolumeClaim:
      claimName: qeeqbox-chameleon-filebeat-logs
  - name: honeypots-logs
    persistentVolumeClaim:
      claimName: qeeqbox-chameleon-honeypots-logs
