name: qeeqbox-chameleon-box
logging.level: warning
logging.to_files: true
logging.files:
  path: /usr/share/filebeat/logs
  name: filebeat
  keepfiles: 7
  permissions: "0644"
output.logstash:
  hosts: [elk-box.lan:5044]
  ssl.verification_mode: "full"
  ssl.certificate_authorities: ["/usr/share/filebeat/elastic-ca.pem"]
  ssl.certificate: "/usr/share/filebeat/beats-certificate-bundle/beats/beats.crt"
  ssl.key: "/usr/share/filebeat/beats-certificate-bundle/beats/beats.key"
processors:
  - add_cloud_metadata: ~
  - add_docker_metadata: ~
  - add_fields:
      fields:
        organization_name: "extra2000"
        project_name: "collector_study"
filebeat.inputs:
  - type: log
    enabled: true
    paths:
      - /usr/share/filebeat/logs/*
    encoding: plain
    fields:
      logname: filebeat
  - type: log
    enabled: true
    paths:
      - /var/log/honeypots/*
    encoding: plain
    exclude_lines:
      - 'honeypotslogger_QBSniffer_'
      - 'honeypotslogger_main_'
      - "'ip': '192.168.123.2'"
      - "'ip': '0.0.0.0'"
    fields:
      logname: qeeqbox-honeypots
      ## NOTE: organization_name, project_name, and sensor_name will be written as index name. Do not use "-". Instead, use "_".
      timezone: "UTC"
      organization_name: "extra2000"
      project_name: "collector_study"
      sensor_name: "home_sensor"
      sensor_ip: 192.168.123.2
queue.mem:
  events: 32
  flush.min_events: 16
  flush.timeout: 30s
monitoring.enabled: false
monitoring.cluster_uuid: "4zWrMvXLQ1KKtApnZ7JIjw"
http.enabled: true
http.host: localhost
http.port: 5066
